<footer class="container-fluid mt-3">
  <div class="row about-us mt-2">
    <div class="col-md-4">
      <h5>
        <b><i>About Us</i></b>
      </h5>
      <p>Welcome to <b>AzureHaven</b>!</p>
      <p>
        At AzureHaven, our mission is to make finding the perfect accommodation
        as seamless and enjoyable as possible. We are dedicated to connecting
        travelers with a diverse range of properties, from charming boutique
        hotels to luxurious vacation rentals.
      </p>
      <h5>
        <b><i>Our Vision</i></b>
      </h5>
      <p>
        We envision a world where travelers can effortlessly discover unique
        stays that suit their preferences and needs. Our platform aims to bridge
        the gap between property owners and travelers, offering an intuitive and
        user-friendly experience for both.
      </p>
    </div>
    <div class="col-md-4">
      <h5 class="mb-3">
        <b><i>What We Offer?</i></b>
      </h5>
      <p>
        <b>Extensive Listings:</b> Explore a wide variety of properties, each
        carefully curated to ensure quality and comfort. Whether you’re seeking
        a quaint bed and breakfast, a modern apartment, or a lavish villa, we
        have options to meet every taste and budget.
      </p>
      <p>
        <b>Transparent Reviews:</b> Make informed decisions with our transparent
        review system. Read honest feedback from previous guests to help you
        choose the right property for your stay.
      </p>
      <p>
        <b>For Property Owners:</b> Listing your property with us is
        straightforward and efficient. Gain access to a global audience, and
        showcase your property with high-quality photos and detailed
        descriptions.
      </p>
    </div>
    <div class="col-md-4">
      <h5 class="mb-3">
        <b><i>Our Team</i></b>
      </h5>
      <p>
        Our team is passionate about travel and hospitality. We are committed to
        providing exceptional service and support to ensure a positive
        experience for both travelers and property owners. Our dedicated support
        staff is always here to assist you with any questions or concerns.
      </p>
      <h5>
        <b><i>Our Commitment</i></b>
      </h5>
      <p>
        We are committed to transparency, security, and customer satisfaction.
        Our platform uses advanced technology to protect your data and provide a
        reliable service. We continuously strive to improve and innovate,
        listening to feedback and adapting to the evolving needs of our users.
      </p>
    </div>
  </div>
  <hr />
  <div class="container-fluid footer-info mt-3">
    <div class="f-info-social">
      <a href="mailto:support@azurehaven.com"
        ><i class="fa fa-envelope" aria-hidden="true"></i
      ></a>
      <a href="https://www.instagram.com/_azurehaven_/"
        ><i class="fa-brands fa-square-instagram"></i
      ></a>
      <a href=""><i class="fa-brands fa-square-twitter"></i></a>
      <a href="https://www.linkedin.com/in/suvarchala-gade/"
        ><i class="fa-brands fa-linkedin"></i
      ></a>
    </div>
    <div class="f-info-company">&copy; 2024 AzureHaven Private Limited</div>
    <div class="f-info-privacy">
      <a href="/privacy">Privacy</a>
      <a href="/terms">Terms</a>
    </div>
  </div>
</footer>
